<nav class="navbar navbar-expand-lg navbar-light bg-light font-effect-shadow-multiple">
    <h3 class="navbar-brand " href="/">NewYork Times Scraper</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/favorites">Saved Atricles</a>
            <a href="/scrape"><button href="#" type="button" class="btn btn-danger mr-2">Scrape New Articles</button></a>
            <button id="clear-all" type="button" class="btn btn-danger mr-2">Clear Articles</button>
        </div>
    </div>
</nav>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center font-effect-fire-animation mongo">Mongo Scraper</h1>
        <p class="lead text-center font-effect-shadow-multiple addition">New York Times Addition</p>
    </div>
</div>
<hr>

<div id="attach" class="container-fluid article-container">

</div>